@model MVCPeopleAwards.Models.AwardViewModel

@* на общую верстку для списка Наград*@
@{
    Layout = "~/Views/Awards/PartialView/LayoutAwards.cshtml";
}

@* частичное представление для вывода информации о награде*@
@Html.Partial("~/Views/Awards/PartialView/AwardInfo.cshtml", Model)

<div>@Html.ActionLink("Назад к списку", "Index", "Awards")</div>
