@model MVCPeopleAwards.Models.AwardViewModel

<div class="form-group">
    @Html.LabelFor(model => model.PhotoAward, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @* Если находимся в режиме редактирования записи *@
        @if (Model.PhotoAward != null && Model.Id > 0)
        {
            <input id="PhotoAward" name="PhotoAward" type="file" class="file"
                   accept="image/jpg, image/png, image/jpeg"
                   data-language="ru"
                   data-show-upload="false"
                   data-show-remove="false"
                   data-max-file-size="2048"
                   data-max-file-count="1"
                   data-preview-file-type="text"
                   data-initial-preview="<img width='150' height='150' class='file-preview-image' src='@Url.Action("GetPhotoAward", "Awards", new { Model.Id })'/>" />
        }
        else
        {
            <input id="PhotoAward" name="PhotoAward" type="file" class="file" data-val="true" data-val-length="Это поле должно быть заполнено"
                   accept="image/jpg, image/png, image/jpeg"
                   data-language="ru"
                   data-show-upload="false"
                   data-max-file-size="2048"
                   data-max-file-count="1"
                   data-preview-file-type="text" />
        }
        @Html.ValidationMessageFor(model => model.PhotoAward, "", new { @class = "text-danger" })
    </div>
</div>


